<form class="form-horizontal" style="clear:both;font-size:13px;background: #FAFAFA;padding:0 20px;font-weight:bold;">
    <fieldset>
        <legend style="padding:20px 0 10px 20px;">Create a new current account</legend>
        <div class="form-group">
            <label for="firstname" class="col-lg-2 control-label">Firstname</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstname" placeholder="Firstname">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Othername</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
        <div class="form-group" style="margin-top:20px;">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </fieldset>
</form>