
<div class="container-fluid no-padding content-wrap" style="background: #FFF;height: 100vh;overflow:hidden;box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 no-padding" style="height:7vh">
        <header id="header" class="header-fixed">
            <div class="headerbar">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="headerbar-left">
                    <ul class="header-nav header-nav-options">
                        <li>
                            <a class="btn btn-icon-toggle">
                                <i id="open-button" style="width:100%;height: 100%;color:white;" class="fa fa-bars"></i>
                                <span style="color:white;"> Heritage bank cognitive assistant</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">
                    <a href="#"><i class="fa fa-fw fa-money"></i><span>Pay Bills</span></a>
                    <a href="#"><i class="fa fa-fw fa-newspaper-o"></i><span>Load Airtime</span></a>
                    <a href="#"><i class="fa fa-fw fa-envelope-o"></i><span>Account Opening</span></a>
                    <a href="#"><i class="fa fa-fw fa-bell-o"></i><span>FAQ!</span></a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
    </div>
    <conversation></conversation>
   
</div>

